DATATYPES

WE HAVE TWO TYPES OF DATATYPES:
1.SINGLE VALUED DATATYPE
  A.NUMERIC
    a.int
    b.Float
    c.Complex
  B.BOOLEAN
    a.True
    b.False
  C.NONE
2.MULTIVALUED DATATYPE
  A.STRING
  B.SET
  C.TUPLE
  D.LIST
  E.DICTIONARY

INTEGER

In [2]:
a=9
b=-9
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

FLOAT

In [4]:
F=9.7
F1=-8.6
F2=-4.0
print(type(F))
print(type(F1))
print(type(F2))

<class 'float'>
<class 'float'>
<class 'float'>

COMPLEX

Here we have two parts in complex one is imaginary part and one real part

In [7]:
C=10+2j
C1=-10-2j
print(type(C))
print(type(C1))

<class 'complex'>
<class 'complex'>

BOOLEAN

In [ ]:
B=True
B1=False
print(type(B))
print(type(B1))

STRING

Indexing : Indexing is giving the sub addresses to the memory block can be either Positive or Negative. 
Note:Indexing can be possible only for Multivalued datatypes other than set.
Syntax:Varname[]

In [15]:
name="DHONI"
print(type(name))
print(name)
print(name[2])
print(name[3])
print("My name is", name)

<class 'str'>
DHONI
O
N
My name is DHONI

LIST

In [22]:
L=[1,2,"Dinga",True]
print(type(L))
print(L)
print(L[2])
print(L[2][3])
del L[1]
print(L)

<class 'list'>
[1, 2, 'Dinga', True]
Dinga
g
[1, 'Dinga', True]

TUPLE

In [26]:
T=(1,2,"Dhoni",True)
print(type(T))
print(T)
print(T[0])
print(T[2][4])

<class 'tuple'>
(1, 2, 'Dhoni', True)
1
i

SET

In [28]:
S={1,2,"Raja","True"}
print(type(S))
print(S)

<class 'set'>
{'Raja', 1, 2, 'True'}

DICTIONARY

In [42]:
D={'name':"Dhoni",'age':42,'team':"CSK"}
print(type(D))
print(D)
print(D['name'])
print(D['team'][2])
del D['age']
print(D)

<class 'dict'>
{'name': 'Dhoni', 'age': 42, 'team': 'CSK'}
Dhoni
K
{'name': 'Dhoni', 'team': 'CSK'}