TYPE CASTING

Converting one Datatype into another datatype is called TYPE CASTING

CONVERTING INTEGER INTO OTHER DATATYPES

int can be converted into Float,Complex,Bool and String

In [36]:
a=100
print(type(a))
print(float(a))
print(complex(a))
print(bool(a))
print(str(a))
data=str(a)
print(data[0])
print(data[1])
print(data[2])

<class 'int'>
100.0
(100+0j)
True
100
1
0
0

CONVERTING FLOAT INTO OTHER DATATYPES

FLOAT can be converted into int,float,complex,bool and string

In [1]:
a=10.6
print(type(a))
print(int(a))
print(float(a))
print(complex(a))
print(bool(a))
print(str(a))
data=str(a)
print(data[0])
print(data[1])
print(data[2])
print(data[3])

<class 'float'>
10
10.6
(10.6+0j)
True
10.6
1
0
.
6

COMPLEX TO OTHER DATATYPES

Complex can be converted into bool and string

In [3]:
a=10+2j
print(type(a))
print(bool(a))
print(str(a))
data=str(a)
print(data[0])
print(data[1])
print(data[2])
print(data[-1])

<class 'complex'>
True
(10+2j)
(
1
0
)

CONVERTING BOOLEAN TO OTHER DATATYPES

Boolean can be Converted into int,float,complex,string

In [2]:
a=True
print(type(a))
print(int(a))
print(float(a))
print(complex(a))
print(bool(a))
print(str(a))
data=str(a)
print(data[0])
print(data[1])
print(data[2])
print(data[3])

<class 'bool'>
1
1.0
(1+0j)
True
True
T
r
u
e

CONVERTING STRING TO OTHER DATATYPES

String can be converted into string,boolean,list,tuple and set

In [40]:
a="Dhoni"
print(type(a))
print(str(a))
print(bool(a))
print(list(a))
print(tuple(a))
print(set(a))
data=str(a)
print(data[0])
print(data[1])
print(data[2])
print(data[3])
print(data[4])

<class 'str'>
Dhoni
True
['D', 'h', 'o', 'n', 'i']
('D', 'h', 'o', 'n', 'i')
{'h', 'D', 'o', 'i', 'n'}
D
h
o
n
i

CONVERTING LIST TO OTHERS DATATYPES

List can be converted into string,set,tuple,boolean and Dictionary
NOTE:Dictionary can be converted only when the list contains sub elements and the elements should be of List,Tuple and Set only,This is applicable for Multivalue datatypes.

In [41]:
L=[1,2,3,'PYTHON']
print (type(L))
print(str(L))
s=str(L)
print(s[-1])
print(tuple(L))
print(set(L))
print(bool(L))
P=[(1,2),(3,4)]
print(dict(P))

<class 'list'>
[1, 2, 3, 'PYTHON']
]
(1, 2, 3, 'PYTHON')
{1, 2, 3, 'PYTHON'}
True
{1: 2, 3: 4}

CONVERTING TUPLE INTO OTHER DATATYPES

Tuple can be converted into string,list,set,bool and Dictionary

In [42]:
T=(1,2,3,"PYTHON")
print(type(T))
print(str(T))
S=str(T)
print(s[-1])
print(list(T))
print(set(T))
print(bool(T))
D=[("name","Raju"),(1,2)]
print(dict(D))

<class 'tuple'>
(1, 2, 3, 'PYTHON')
]
[1, 2, 3, 'PYTHON']
{1, 2, 3, 'PYTHON'}
True
{'name': 'Raju', 1: 2}

CONVERTING SET INTO OTHER DATATYPES

Set can be converted list,string,tuple,bool and Dictionary

In [43]:
S={1,2,3,"python"}
print(type(S))
print(list(S))
print(str(S))
print(tuple(S))
print(bool(S))
D=[('name','Python'),(1,2)]
print(dict(D))

<class 'set'>
[1, 2, 3, 'python']
{1, 2, 3, 'python'}
(1, 2, 3, 'python')
True
{'name': 'Python', 1: 2}

CONVERTING DICT TO OTHER DATATYPES

Dictionary can be converted into list,tuple,set,string and bool

In [44]:
d={1:2,"name":"django"}
print(type(d))
print(list(d))
print(tuple(d))
print(set(d))
print(str(d))
print(bool(d))

<class 'dict'>
[1, 'name']
(1, 'name')
{1, 'name'}
{1: 2, 'name': 'django'}
True

EXAMPLES ON TYPE CASTING

In [8]:
I=15
print(type(15))
print(str(15))
s=str(15)
print(s[0])
print(complex(15))

<class 'int'>
15
1
(15+0j)

In [4]:
F=15.5
print(type(F))
print(int(F))
print(complex(F))
print(bool(F))
print(str(F))
s=str(F)
print(s[-1])
print(s[0])

<class 'float'>
15
(15.5+0j)
True
15.5
5
1

In [5]:
J=15.5
print(type(15.5))
print(int(15.5))
print(complex(15.5))
print(bool(15.5))
print(str(15.5))
s=str(15.5)
print(s[-1])
print(s[0])

<class 'float'>
15
(15.5+0j)
True
15.5
5
1

In [6]:
c=15+2j
print(type(c))
print(bool(c))
print(str(c))

<class 'complex'>
True
(15+2j)

In [7]:
K=15+2j
print(type(15+2j))
print(bool(15+2j))
print(str(15+2j))
S=str(K)
print(S[0])
print(S[1])
print(S[5])

<class 'complex'>
True
(15+2j)
(
1
j

In [8]:
T=0+5j
print(type(T))
print(str(T))
S=str(T)
print(S[0])
print(S[-1])

<class 'complex'>
5j
5
j

In [9]:
B=False
print(type(False))
print(int(False))
print(float(False))
print(complex(False))
print(str(False))
print(str(False)[0])
print(str(False)[-1])

<class 'bool'>
0
0.0
0j
False
F
e

In [10]:
st="15"
print(type(st))
print(st[0])
print(int(st))
print(float(st))
print(complex(st))
print(bool(st))
print(list(st))
print(tuple(st))
print(set(st))

<class 'str'>
1
15
15.0
(15+0j)
True
['1', '5']
('1', '5')
{'5', '1'}

In [11]:
st="Python,java"
print(type(st))
print(list(st))
print(tuple(st))
print(set(st))
st={(1,2),("name","python,java")}
print(dict(st))

<class 'str'>
['P', 'y', 't', 'h', 'o', 'n', ',', 'j', 'a', 'v', 'a']
('P', 'y', 't', 'h', 'o', 'n', ',', 'j', 'a', 'v', 'a')
{'h', ',', 'j', 'o', 'y', 'P', 'v', 'n', 'a', 't'}
{'name': 'python,java', 1: 2}

In [12]:
st="15,(12,13)"
print(type(st))
print(bool(st))
print(list(st))
print(set(st))
print(tuple(st))
st={(1,2),("name","python")}
print(dict(st))

<class 'str'>
True
['1', '5', ',', '(', '1', '2', ',', '1', '3', ')']
{',', '2', '5', '1', '3', ')', '('}
('1', '5', ',', '(', '1', '2', ',', '1', '3', ')')
{1: 2, 'name': 'python'}

In [34]:
L=[15,13,12]
print(type(L))
print(tuple(L))
print(bool(L))
print(set(L))
print(str(L))

<class 'list'>
(15, 13, 12)
True
{12, 13, 15}
[15, 13, 12]

In [42]:
L=[15,"Python",14]
print(type(L))
print(str(L))
print(tuple(L))
print(bool(L))
print(set(L))

<class 'list'>
[15, 'Python', 14]
(15, 'Python', 14)
True
{14, 'Python', 15}
[15, 'Python', 14]

In [51]:
L=["Python","Java"]
print(type(L))
print(tuple(L))
print(set(L))
print(bool(L))
print(str(L))
S=str(L)
print(S[0])
print(S[-1])

<class 'list'>
('Python', 'Java')
{'Java', 'Python'}
True
['Python', 'Java']
[
]

In [2]:
L=[{20,30},{'name','python'},{40,50}]
print(type(L))
print(dict(L))

<class 'list'>
{20: 30, 'name': 'python', 40: 50}

In [5]:
T=(1,2,'Python','Java')
print(type(T))
print(str(T))
print(bool(T))
print(set(T))
print(tuple(T))
print(list(T))
st=str(T)
print(st[0])
print(st[1])
print(st[2])
print(st[3])
print(st[4])
print(st[-1])
print(st[-4])

<class 'tuple'>
(1, 2, 'Python', 'Java')
True
{'Python', 1, 2, 'Java'}
(1, 2, 'Python', 'Java')
[1, 2, 'Python', 'Java']
(
1
,

2
)
v

In [13]:
Thap=({'abc',22},(20,23))
print(type(Thap))
print(dict(Thap))

<class 'tuple'>
{'abc': 22, 20: 23}

In [3]:
Thus=('Java','Python')
print(type(Thus))
print(bool(Thus))
print(str(Thus))
Ven=str(Thus)
print(Ven[0])
print(Ven[1])
print(Ven[-1])
print(Ven[-2])
print(Ven[2])
print(Ven[3])
print(list(Thus))
print(set(Thus))

<class 'tuple'>
True
('Java', 'Python')
(
'
)
'
J
a
['Java', 'Python']
{'Python', 'Java'}

In [12]:
Sit={15,16,25,'Python'}
print(type(Sit))
print(str(Sit))
print(list(Sit))
print(tuple(Sit))
print(bool(Sit))
sy=str(Sit)
print(sy[0])
print(sy[1])
print(sy[-1])
print(sy[-2])
disc={(1,2),('name','python')}
print(type(disc))
print(dict(disc))

<class 'set'>
{16, 25, 'Python', 15}
[16, 25, 'Python', 15]
(16, 25, 'Python', 15)
True
{
1
}
5
<class 'set'>
{1: 2, 'name': 'python'}

In [20]:
Dict={20:21,'course':'Python'}
print(type(Dict))
print(str(Dict))
Ty=str(Dict)
print(Ty[0])
print(Ty[1])
print(Ty[-1])
print(bool(Dict))
print(set(Dict))
print(list(Dict))
print(tuple(Dict))

<class 'dict'>
{20: 21, 'course': 'Python'}
{
2
}
True
{20, 'course'}
[20, 'course']
(20, 'course')

In [2]:
Dhoni={'age':21,24:25,'name':'Spiders'}
print(type(Dhoni))
print(str(Dhoni))
sam=str(Dhoni)
print(sam[0])
print(sam[1])
print(sam[-1])
print(sam[2])
print(sam[3])
print(set(Dhoni))
print(bool(Dhoni))
print(list(Dhoni))
print(tuple(Dhoni))

<class 'dict'>
{'age': 21, 24: 25, 'name': 'Spiders'}
{
'
}
a
g
{'age', 24, 'name'}
True
['age', 24, 'name']
('age', 24, 'name')